asgiref==3.8.1
black==25.1.0
click==8.2.0
colorama==0.4.6
Django==5.2.1
django-bootstrap5==25.1
flake8==7.2.0
flake8-isort==6.1.2
iniconfig==2.1.0
isort==6.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.5.0
pycodestyle==2.13.0
pyflakes==3.3.2
pytest==8.3.5
pytest-django==4.11.1
pytest-lazy-fixture==0.6.3
python-dotenv==1.1.0
pytils==0.4.3
sqlparse==0.5.3
tzdata==2025.2
